*{
    margin: 0
}

.item1{
    position: absolute;
    border: 10px;
    border-style:solid;
    border-color: black;
    background-color: red;
    height: 200px;
    width: 250px;
    top: 25px;
    right: 25px
}

.item2{
    position: absolute;
    border: 10px;
    border-style:solid;
    border-color: black;
    background-color: red;
    height: 200px;
    width: 250px;
    top: 25px;
    left: 25px
}

.item3{
    position: absolute;
    border: 10px;
    border-style:solid;
    border-color: black;
    background-color: red;
    height: 200px;
    width: 250px;
    bottom: 25px;
    right: 25px
}

.item4{
    position: absolute;
    border: 10px;
    border-style:solid;
    border-color: black;
    background-color: red;
    height: 200px;
    width: 250px;
    bottom: 25px;
    left: 25px;
}

.grid-item{
    transition: 0.8s ease, background-color 0.8s ease;
}

.grid-item2{
    transition: 0.8s ease, background-color 0.8s ease;
}

.grid-item:hover{
    transform: scale(0.1);
    rotate: 360deg;
}

.grid-item:active{
    transform: scale(0.0001);
    rotate: 720deg;
}

.grid-item2:active{
    transform: scale(0.0001);
    rotate: 360deg;
}

.font{
    position: relative;
    width: 100%;
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: 0% 0%;
  }