

@media screen and (orientation: landscape){
    
    .imfbg{background-image:url(imflogo.jpg);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100vmax}
    }

    @media screen and (orientation: portrait){
    
        .imfbg{background-image:url(imflogo.jpg);
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 200vmax}
        }

@font-face {
    font-family:sourcecodepro;
    src: url(SourceCodePro-VariableFont_wght.ttf)}

@media screen and (orientation: landscape){
    .spyfont{
        overflow:hidden;
        border-right:0.15em skyblue;
        margin:0 auto;
        letter-spacing: 0.1em;
        font-family: sourcecodepro;
        color: skyblue;
        text-shadow: 0em 0em 0.3em skyblue;
        font-size:2vw;
        animation: typing 3.5s steps(40,end);
    }}

    @media screen and (orientation: portrait){
        .spyfont{
            overflow:hidden;
            border-right:0.15em skyblue;
            margin:0 auto;
            letter-spacing: 0.1em;
            font-family: sourcecodepro;
            color: skyblue;
            text-shadow: 0em 0em 0.3em skyblue;
            font-size:2vh;
            animation: typing 3.5s steps(40,end);
        }}

    @media screen and (orientation: landscape){
        .spyfont2{
    overflow:hidden;
    border-right:0.15em skyblue;
    margin:0 auto;
    letter-spacing: 0.1em;
    font-family: sourcecodepro;
    color: skyblue;
    text-shadow: 0em 0em 0.3em skyblue;
    font-size:2vw;
}}

@media screen and (orientation: portrait){
    .spyfont2{
overflow:hidden;
border-right:0.15em skyblue;
margin:0 auto;
letter-spacing: 0.1em;
font-family: sourcecodepro;
color: skyblue;
text-shadow: 0em 0em 0.3em skyblue;
font-size:2em;
}}

.blue{background-color: blue;
    z-index: 2;}

.imgshdw{
    z-index: 1;
    margin-top:3vh;
    border-radius: 1vmin;
    border-color: skyblue;
    border-style: solid;
    border-width: 0.2vmin;
    box-shadow: 0em 0em 0.3em skyblue;
}

.yourmission{
    background-color: rgb(3, 12, 22)
}

.yourmission:hover{
    cursor: pointer;
}

.goodluck{
    display: flex;
    justify-content: center;
    overflow:hidden;
    margin:0 auto;
    letter-spacing: 0.1em;
    font-family: sourcecodepro;
    color: skyblue;
    text-shadow: 0em 0em 0.3em skyblue;
    font-size:2vw;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
}

.button{
    position:fixed;
    top: 50%;
    font-family: sourcecodepro;
    font-size: 2vw;
    text-shadow: 0em 0em 0.3 em skyblue;
    color: skyblue;
    background-color: rgb(3, 12, 22);
    cursor: pointer;
}

.button2{
    position:fixed;
    font-family: sourcecodepro;
    font-size: 2vw;
    text-shadow: 0em 0em 0.3 em skyblue;
    color: skyblue;
    background-color: rgb(3, 12, 22);
    cursor: pointer;
    margin-right:2vw;
    text-align: left;
}

.gridcontainer{
    position: fixed;
    top:40vh;
    visibility: hidden;
}
