* { 
  margin: 0;  
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container{
    border: 5px red;
    position:relative
}
.item {
    position: relative;
    margin: auto;
    border-radius: 10px;
}

@keyframes breathe{
    40%{height: 520px; width: 520px;}
    80%{height: 500px; width: 500px}
}

@keyframes breathe2{
    40%{height: 720px; width: 920px;}
    80%{height: 700px; width: 900px}
}

@keyframes breathe3{
    50%{height: 120vh; width: 120vw}
    100%{height: 100vh; width: 100vw}

}

.item1{
    animation-name: breathe;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    position: relative;
    margin: auto;
    width: 500px;
    height: 500px;
    background-image: radial-gradient(yellow,orange,red);
}

.item2{
    animation-name: breathe2;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    width: 900px;
    height: 700px;
    background-image: radial-gradient(red,orange,yellow)
}

.item3{
    animation-name: breathe3;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(red,yellow,orange);
    padding-left: calc(10vw)
}

.item4{
    width:50px;
    height:50px;
    border-radius: 1000px;
    background-color: red;
}

html {
    overflow-x: hidden;

  }

  html {
    overflow-y: hidden;
  }
